@import "tailwindcss";

/* Pequeños toques */
html,body { font-feature-settings:"cv02","cv03","cv04","cv11"; }
::-webkit-scrollbar { height: 10px; width: 10px; }
::-webkit-scrollbar-thumb { background: rgba(2,6,23,.12); border-radius: 9999px; }
